/* This file is for your main application css. */
div.chatbox {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}
ul.messages_container {
    position: relative;
    backround-color: #555555;
    width: 90%;
    height: 450px;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: bottom;
}

.messages_input {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.messages_input > input {
    width: 100%;
}
.message {
    display: block;
    position: absolute;
    bottom: 0;
}

.channel-buttons {
    position: absolute;
    width: 100%;
    bottom: 28.5px;
}
.btn {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #555;
    color: #EEE;
}
.btn:hover {
    color: #F33;
}
.btn-sm {
    font-size: 0.70em;
}